[Desktop Entry]
Hidden=false
Type=Directory
NoDisplay=false
X-Enlightenment-Directory-Wallpaper=/home/boycott/Desktop/colors/b3b7bc.png
Version=1.0
DBusActivatable=false
Name=Directory look and feel
Name[en_US]=Directory look and feel
